<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head',  {view: "Detalle de productos", bootstrapCSSDisabled:true}) %>
<body>
    <%- include('../partials/header') %>

    <main class="productDetail">

        

        <div class="thumbnails-container">
            <figure class="thumb-img-container"><img class="thumb-img" src="/images/products/<%= product.imagePrimary%>" alt="producto 1"></figure>
            <figure class="thumb-img-container"><img class="thumb-img" src="/images/products/<%= product.imagesSecondary%>" alt="producto 1"></figure>
           
        </div>
        
        <div class="glider-contain prodDetail-glider-container">
            <div class="glider prodDetail-glider">
              <div class="prodDetail-content-container">
                <figure class="prodDetail-image-container">
                    <img src="/images/products/<%= product.imagePrimary%>" alt="producto 1">
                </figure>
              </div>
    
              <div class="prodDetail-content-container">
                <figure class="prodDetail-image-container">
                    <img src="/images/products/<%= product.imagesSecondary%>" alt="producto 1">
                </figure>
              </div>

        </div>
          
            <button aria-label="Previous" class="glider-prev">
                <i class="fa-solid fa-caret-left"></i>
            </button>
            <button aria-label="Next" class="glider-next">
                <i class="fa-solid fa-caret-right"></i>
            </button>
            <div role="tablist" class="dots"></div>
        </div>
        <div class="prodDetail-container">
            <div class="breadcrumb-container">
                <nav class="breadcrum">
                    <ul>
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="#">Juguetes</a>
                        </li>
                        <li>
                            <a href="#">Gatos</a>
                        </li>
                        <li>
                            <a href="#"><%= product.title%></a>
                        </li>
                    </ul>  
                </nav>
            </div>
            <h2 class="prodDetail-title"><%= product.title%></h2>
            <p class="prodDetail-price">$<%= product.price%></p>
            <div class="product-quantity-container">
                    <button class="decrease-button">-</button>
                    <div class="quantity">  
                        <label for="quantity"></label>
                        <input type="number" name="quantity" id="quantity" value="1" min="1">
                    </div>
                    <button class="increase-button">+</button>
            </div>
            <div class="add-to-cart">
                <div class="btn-cart">
                    <button>AGREGAR AL carrito-compra</button>
                </div>
            </div>
        </div>
        <div class="description-container">
            <h2 class="description-title">Descripción del producto</h2>
            <p class="description-paragraph"><%= product.description%></p>
        </div>

        <div class="relatedProduct-container">
            <h2 class="relatedProduct-title">Productos relacionados</h2>
            
            
            <%listProduct.forEach(p => { %>
             
            

            <article class="relatedProd">
                <figure class="relatedProd-img-container">
                    <a href="/productos/detalle">
                        <img class="relatedProd-img" src="/images/products/<%= p.imagePrimary%>" alt="related product 1">
                    </a>
                </figure>
                <div class="relatedProd-description">
                    <a href="/productos/detalle">
                        <h5><%= p.title%></h5>
                    </a>
                    <p>$ <%= p.price%></p>
                    <a class="relatedProd-buycart" href="/carrito-compra"><i class="fa-solid fa-cart-plus"></i></a>
                </div>    
            </article>
             <% }) %>

           

            

           
        </div>
        
    </main>
    <%- include('../partials/footer') %>

    <%- include('../partials/scripts',{ disabledBootstrapJS:true }) %>
    
</body>
</html>