<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head',  {view: "Iniciar sesión", bootstrapCSSDisabled:true, gliderCSSDisabled:true}) %>
<body>
    <%- include('../partials/header') %>

    <main class="login-main">
        <h1 class="titulo-login">Iniciar Sesion </h1>
        <form class="form-principal" action="/autenticacion/iniciar" method="post">
            <div class="contenedor-form" >
                <div class="usuario">
                    <label class="usuario" for="usuario"></label>
                    <input class="usuario" type="email" name="email" placeholder="email" id="email" value="<%= locals.old?.email %>">
                    <p class="msg-error"><%= locals.errorsLog?.email?.msg %></p>
                </div>

                <div class="contrasenia">
                    <label for="contrasenia"></label>
                    <input class="contrasenia" type="password" name="password" id="contrasenia" placeholder="contraseña">
                    <p class="msg-error"><%= locals.errorsLog?.password?.msg %></p>
                </div>   
            </div>

            <div class="recordar">
                <input class="checkbox" type="checkbox" name="remember" id="recuerdamelo" value="recuerdamelo">
                <label class="recordar" for="recuerdamelo">Recuerdamelo</label>
                <a class="recordarContra" href="">Olvidaste la contraseña?</a>
            </div>

            <div class="contenedor-button">
                <div class="boton">
                    <button class="submit" type="submit">Entrar</button>
                </div>

                <div class="inicio">   
                    <p>¿No tienes cuenta?</p>
                    <a class="crear-cuenta" href="/autenticacion/registro">crear cuenta</a>
                </div>
            </div>
        </form>
        
    </main>
    <%- include('../partials/footer') %>

    <%- include('../partials/scripts', {disabledBootstrapJS:true, disabledGliderJS:true}) %>
</body>
</html>