<h1>Lista de productos</h1>
<div class="dash-topbar">
  <form class="dash-searchForm" action="/admin/productos/buscar" method="get">
    <label for="dash-search"></label>
    <input
      type="text"
      placeholder="Buscar Producto"
      name="dashboardKeywords"
      id="dash-search"
      value=""
    />
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <div class="dash-filter">
    <form class="dash-filterForm" action="/admin/productos/buscar" method="get">
      <span>Mostrar:</span>
      <select name="filterSelect" id="filterSelect">
          <option value="Indumentaria">Indumentaria</option>
          <option value="Accesorios">Accesorios</option>
          <option value="Juguetes">Juguetes</option>
      </select>
      <button type="submit">Filtrar</button>
    </form>
  </div>
</div>

<% if (dashboardKeywords) { %>
  <div class="col-12 text-center dashSearchTitle">
    <h2>Resultado de la busqueda: <%= dashboardKeywords %></h2>
  </div>
<% if (!products.length) { %>
  <div class="col-12 text-center dashSearchNoResults text-danger">
    <h3>*No hay productos que coincidan con la búsqueda*</h3>
  </div>
<% } %>
 
<% } else { %>
  <div class="col-12 text-center dashSearchTitle">
    <h2>Resultado del filtrado de: <%= filterSelect %></h2>
  </div>



<% } %>


<table class="listProduct-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Imagen</th>
      <th scope="col">Imagen Secundarias</th>
      <th scope="col">Titulo</th>
      <th scope="col">Categoría</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Descuento</th>
      <th scope="col">Stock</th>
      <th scope="col">Colores</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
   <tbody>
  <% products.forEach(p => { %>
   
    <tr>
      <th scope="row"><%=p.id%></th>
      <td><img class="dash-img-product" src="/images/products/<%= p.imagePrimary %>" alt="product image"/></td>
      
      <td>
         <% p.imagesSecondary.forEach(img => { %>
      <img class="dash-img-product" src="/images/products/<%= img %>" alt="product image"/>
      <% }) %>
    </td>
      
      
      <td><%= p.title %></td>
      <td><%= p.categorySelect %></td>
      <td class="td-description"><%= p.description %></td>
      <td class="td-price"><%= p.price %></td>
      <td class="td-sale"><%= p.sale %></td>
      <td class="td-stock"><%= p.stock %></td>
      <td class="td-colors">
        <i style="color: orange" class="fa-solid fa-circle"></i>
        <i style="color: red" class="fa-solid fa-circle"></i>
        <i style="color: black" class="fa-solid fa-circle"></i>
      </td>
      <td>
        <div class="dash-actionButtons" role="group">
          <a class="infoButton" href="">Info</a>
          <a class="editButton" href="/admin/editar-producto/<%= p.id %>">Editar</a>
          <a class="deleteButton" href="/admin/eliminar?id=<%= p.id %>&title=<%= p.title %>">Eliminar</a>
        </div>
      </td>
    </tr>
   <% }) %>

  </tbody>
  
</table>